@font-face {
    font-family: 'Segoe UI';
    src: url('./fonts/Segoe UI.ttf');
}

body {
    margin: 0;
    font-family: 'Segoe UI';
    line-height: 1.5;
    color: rgb(33, 37, 41);
}

.main {
    display: flex;
    align-items: center;
    height: 100vh;
}

.container {
    width: 960px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.desc {
    margin-top: 30px;
}

.logo {
    vertical-align: middle;
}

.link-project {
    color: #0dcaf0;
    text-decoration: none;
}

.demo {
    margin-top: 30px;
    display: flex;
}

.examples-links {
    display: flex;
    justify-content: space-around;
    width: 600px;
    margin: 30px auto 0 auto;
}

.example-link {
    cursor: pointer;
    color: #6c757d;
}

.example-link.active {
    color: #007bff;
}

.more-examples {
    color: #6c757d;
    text-decoration: none;
}

#field {
    width: 478px;
    height: 330px;
    box-sizing: border-box;
    border: 1px solid black;
}

#editor {
    width: 480px;
    height: 330px;
    box-sizing: border-box;
}

.game-list {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 250px);
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.game-link {
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
}

.game-link:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all, .25s;
    background: rgba(0, 0, 0, 0);
    
}

.game-name {
    opacity: 0;
    transition: all, .25s;
    z-index: 1;
}

.game-link:hover .game-name {
    opacity: 1;
}

.game-link:hover:before {
    background: rgba(0, 0, 0, .3);
}

.all-games-list {
    text-align: center;
    width: 50%;
    margin: 120px auto 0px auto;
}

.all-games__game-link {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid #dcdcdc;
    padding: 40px 0px;
    font-size: 24px;
    text-decoration: none;
    color: #000;
}

.all-games__game-background {
    position: absolute;
    width: 200px;
    height: 200px;
    right: -30px;
    top: -60px;
    transform: rotate(-25deg);
}

.all-games-link {
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.all-games__game-caption {
    position: relative;
    background: rgb(245 245 245 / 70%);
    margin: 0px 30px;
    padding: 10px 20px;
}

@media (max-width: 768px) {
    .all-games-list {
        width: 80%;
        margin: 50px auto 0px auto;
    }
    
    .game-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        row-gap: 50px;
        margin-top: 100px;
    }
}

@media (max-width: 992px) {
    .main {
        display: block;
        height: 100%;
        margin-top: 50px;
    }

    .container {
        width: 100%;
    }

    .demo {
        display: block;
    }

    #field {
        width: 100%;
    }

    #editor {
        width: 100%;
    }

    .examples-links {
        width: 100%;
        margin: 30px auto 30px auto;
    }
}