#field {
    margin: auto;
    border: 1px solid #dcdcdc;
}

.play {
    display: none;
    background-image: url('../images/background/main.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.play__game-title {
    background: #b88463;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 55%;
    margin: auto;
    border: 2px solid #633f44;
    color: #fff;
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play__button {
    width: 300px;
    height: 100px;
    color: #fff;
    font-family: Arial;
    text-align: center;
    line-height: 100px;
    font-size: 70px;
    font-weight: bold;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30%;
    margin: auto;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.4), 0px 4px #fff;
    transition: all, .075s;
    transform: translate3d(0,0,0);
    background: #ffd948;
        box-shadow: 0px 4px rgba(0, 0, 0, 0.4), 0px 4px #ffd948;
}

.play__button:active {
    filter: brightness(105%);
    transform: translateY(4px);
    box-shadow: 0px 0px;
}

.play__button:before {
    content: "";
    display: block;
    width: calc(100% - 6px);
    height: 42%;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 3px;
    left: 3px;
}

.controls {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
}

.controls__arrows {
    display: flex;
    justify-content: space-between;
    width: 230px;
    margin-left: 30px;
    margin-bottom: 15px;
}

.controls__arrow  {
    width: 100px;
    height: 100px;
    opacity: 0.3;
    border-radius: 50%;
    background-size: cover;
}

.controls-arrow--left {
    background-image: url('./../images/controls/arrow-left.png');
}

.controls-arrow--right {
    background-image: url('./../images/controls/arrow-right.png');
}

.controls__buttons {
    display: flex;
    justify-content: space-between;
    width: 230px;
    margin-right: 30px;
    margin-bottom: 15px;
}

.controls__button {
    width: 100px;
    height: 100px;
    opacity: 0.3;
    border-radius: 50%;
    background-size: cover;
}

.controls__button--fire {
    background-image: url('./../images/controls/a.png');
}

.controls__button--jump {
    background-image: url('./../images/controls/b.png');
}

@media (max-width: 768px) {
    body {
        overflow: hidden;
    }

    #field {
        border: none;
        display: none;
        height: 100vh;
    }

    .play {
        display: flex;
    }
}